@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  /* Hide scrollbars while retaining touch scroll physics */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}